asgiref==3.8.1
cffi==1.17.1
cryptography==44.0.2
dj-database-url==3.0.1
Django==5.1.4
gunicorn==23.0.0
mysqlclient==2.2.7
numpy==2.3.1
packaging==25.0
pandas==2.3.1
pillow==11.3.0
psycopg2-binary==2.9.10
pycparser==2.22
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tzdata==2024.2
whitenoise==6.9.0
